* {
    box-sizing: border-box;
  }

.button {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 1px solid #000;
  cursor: pointer;
}

.button:hover {
  background-color: #ccc;
}

.active {
  background-color: #f00;
}
